{% extends 'base.html' %}
{% load static %}

{% block title %}Topics{% endblock %}

{% block body  %}
<nav class="nav">
    <a href="/"><img class="logo" src="{% static 'images/e-PU.png' %}"></a>
    <ul class="list">
        <li><span style="font-size: 2rem;">Hi, {{request.user}}</span></li>
        <li>
            <a class="button button-clear" href="{% url 'logout' %}">
                <i class="fas fa-sign-out-alt" style="font-size: 2rem;"></i>
            </a>
        </li>
    </ul>
</nav>

<div class="boxTwo">
    <h2>{{ courses.name }}</h2>
    <div class="add">
        <button class="button-primary" onclick="document.getElementById('addTopic').style.display='block' ">Add Topic
        </button>
        <div class="modal" id="addTopic">
            <form class="modal-content animate" action="{% url 'topics' courses.id %}" method="POST">
                {% csrf_token %}
                <div class="imgcontainer">
                    <span onclick="document.getElementById('addtopic').style.display='none'" class="close"
                          title="Close">&times;</span>
                </div>

                <div class="container">
                    {{ form.topicName.errors }}
                    <label for="form.topicName.id_for_label"><b>Topic Name</b></label>
                    {{form.topicName}}

                    {{ form.link.errors }}
                    <label for="{{ form.link.id_for_label }}"><b>Topic Link</b></label>
                    {{form.link}}
                    {{form.courses}}
                    <button class="button-primary" type="submit" value="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

    {% for topic in topics %}
    <a class="topic" href="{% url 'video' courses.id topic.id %}">{{ topic.topicName }}</a>
    {% endfor %}

</div>

<script>
		var modal = document.getElementById('addTopic');
		window.onclick = function(event) {
		    if (event.target == modal) {
		        modal.style.display = "none";
		    }
		}

</script>
{% endblock %}